<!DOCTYPE html>
{% load static %}

<html lang="en" class="light-style layout-menu-fixed layout-compact layout-navbar-fixed layout-footer-fixed" dir="ltr" data-theme="theme-default"
data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template-free">
<head>
  <title>Nexus Motos {% block title %} {% endblock %}</title>
  <!--<meta charset="utf-8" /> -->
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />
  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
  <!-- Core CSS -->
  <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
  <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />
  <!-- Vendors CSS -->
  <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />
  <!-- Page CSS -->
  {% block extra_css %}
  {% endblock extra_css %}
  <!-- Helpers -->
  <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="{% static 'assets/js/config.js' %}"></script>
</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->

      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo justify-content-center">
          <a href="{% url 'home' %}" class="app-brand-link gap-2">
            <img class="img-fluid w-px-100 rounded my-1" src="{% static 'assets/img/logos/Nexus.png' %}" alt="Nexus" />
          </a>
          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-md-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
          </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
          <!-- Inicio -->
          <li class="menu-item {% if menu_padre %}{% if menu_padre == 'home' %}active open{% endif %}{% endif %}">
            <a href="{% url 'home' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-chart"></i>
              <div data-i18n="Basic">Dashboard</div>
            </a>
          </li>

          <!-- Operación -->
          <li class="menu-header small text-uppercase"><span class="menu-header-text">Operación</span></li>
          <!-- Almacén -->
          {% if request.user.cargo_id == 1 or request.user.cargo_id == 2 %}
          <li class="menu-item {% if menu_padre %}{% if menu_padre == 'almacen' %}active open{% endif %}{% endif %}">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons bx bx-box"></i>
              <div data-i18n="Basic">Almacén</div>
            </a>
            <ul class="menu-sub">
              <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'articulos' %}active{% endif %}{% endif %}">
                <a href="{% url 'lista_articulos' %}" class="menu-link">
                  <div data-i18n="Basic">Artículos</div>
                </a>
              </li>
              <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'salidas' %}active{% endif %}{% endif %}">
                <a href="{% url 'lista_salidas' %}" class="menu-link">
                  <div data-i18n="Basic">Salidas</div>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
          <!-- Compras -->
          {% if request.user.cargo_id == 1 %}
          <li class="menu-item {% if menu_padre %}{% if menu_padre == 'compras' %}active open{% endif %}{% endif %}">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-cart"></i>
                  <div data-i18n="Basic">Compras</div>
              </a>
              <ul class="menu-sub">
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'proveedores' %}active{% endif %}{% endif %}">
                    <a href="{% url 'lista_proveedores' %}" class="menu-link">
                      <div data-i18n="Basic">Proveedores</div>
                    </a>
                  </li>
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'ingresos' %}active{% endif %}{% endif %}">
                    <a href="{% url 'lista_ingresos' %}" class="menu-link">
                      <div data-i18n="Basic">Ingresos</div>
                    </a>
                  </li>
              </ul>
          </li>
          {% endif %}
          <!-- Ventas -->
          {% if request.user.cargo_id == 1 or request.user.cargo_id == 3 %}
          <li class="menu-item {% if menu_padre %}{% if menu_padre == 'ventas' %}active open{% endif %}{% endif %}">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-dollar"></i>
                  <div data-i18n="Basic">Ventas</div>
              </a>
              <ul class="menu-sub">
                  <li class="menu-item  {% if menu_hijo %}{% if menu_hijo == 'clientes' %}active{% endif %}{% endif %}">
                      <a href="{% url 'lista_clientes' %}" class="menu-link">
                        <div data-i18n="Basic">Clientes</div>
                      </a>
                  </li>
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'ventas' %}active{% endif %}{% endif %}">
                    <a href="{% url 'lista_ventas' %}" class="menu-link">
                      <div data-i18n="Basic">Ventas</div>
                    </a>
                  </li>
              </ul>
          </li>
          {% endif %}
          <!-- Reportes -->
          {% if request.user.cargo_id == 2 or request.user.cargo_id == 1 %}
          <li class="menu-item {% if menu_padre %}{% if menu_padre == 'reportes' %}active open{% endif %}{% endif %}">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                  <i class="menu-icon tf-icons bx bx-file"></i>
                  <div data-i18n="Basic">Reportes</div>
              </a>
              <ul class="menu-sub">
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'reporte_compras' %}active{% endif %}{% endif %}">
                    <a href="{% url 'reporte_compras' %}" class="menu-link">
                      <div data-i18n="Basic">Rep. Compras</div>
                    </a>
                  </li>
                  {% if request.user.cargo_id == 1 %}
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'reporte_salidas' %}active{% endif %}{% endif %}">
                    <a href="{% url 'reporte_salidas' %}" class="menu-link">
                      <div data-i18n="Basic">Rep. Salidas</div>
                    </a>
                  </li>
                  {% endif %}
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'reporte_mov_productos' %}active{% endif %}{% endif %}">
                    <a href="{% url 'reporte_mov_productos' %}" class="menu-link">
                      <div data-i18n="Basic">Rep. Mov. Prod.</div>
                    </a>
                  </li>
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'reporte_series_productos' %}active{% endif %}{% endif %}">
                    <a href="{% url 'reporte_series_productos' %}" class="menu-link">
                      <div data-i18n="Basic">Rep. Ser. Prod.</div>
                    </a>
                  </li>
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'reporte_historial_precios' %}active{% endif %}{% endif %}">
                    <a href="{% url 'reporte_historial_precios' %}" class="menu-link">
                      <div data-i18n="Basic">Rep. Hist. Precios</div>
                    </a>
                  </li>
                  <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'reporte_productos' %}active{% endif %}{% endif %}">
                    <a href="{% url 'reporte_productos' %}" class="menu-link">
                      <div data-i18n="Basic">Rep. Precio Prod.</div>
                    </a>
                  </li>
              </ul>
          </li>
          {% endif %}

          {% if request.user.cargo_id == 1 %}
          <!-- Administración -->
          <li class="menu-header small text-uppercase"><span class="menu-header-text">Administración</span></li>
          <!-- Accesos -->
          <li class="menu-item {% if menu_padre %}{% if menu_padre == 'accesos' %}active open{% endif %}{% endif %}">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Basic">Accesos</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'usuarios' %}active{% endif %}{% endif %}">
                  <a href="{% url 'lista_usuarios' %}" class="menu-link">
                    <div data-i18n="Basic">Usuarios</div>
                  </a>
                </li>
                <!--<li class="menu-item {% if menu_hijo %}{% if menu_hijo == 'permisos' %}active{% endif %}{% endif %}">
                  <a href="#" class="menu-link">
                    <div data-i18n="Basic">Permisos</div>
                  </a>
                </li>-->
            </ul>
          </li>
          {% endif %}

          <!-- Otros -->
          <li class="menu-header small text-uppercase"><span class="menu-header-text">Otros</span></li>
          <li class="menu-item">
            <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="menu-link">
                <i class="menu-icon tf-icons bx bx-power-off"></i>
                <div data-i18n="Basic">Cerrar sesión</div>
            </a>
            
          </li>
        </ul>
      </aside>
      <!-- / Menu -->

      <!-- Form cerrar sesión -->
      <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
        {% csrf_token %}
      </form>
      <!-- / Form cerrar sesión -->

      <div class="layout-page">
        <!-- Navbar -->
        <nav class="layout-navbar container-xxl navbar navbar-expand-xl align-items-center bg-navbar-theme"
          id="layout-navbar">
          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="bx bx-menu bx-sm"></i>
            </a>
          </div>
          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <span></span>
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="{% static 'assets/img/avatars/usuario_defecto.png' %}" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </a>
                {% if user.is_authenticated %}
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex">
                        <div class="flex-shrink-0">
                          <div class="avatar avatar-online">
                            <img src="{% static 'assets/img/avatars/usuario_defecto.png' %}" alt
                              class="w-px-40 h-auto rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1 mx-3">
                          <span class="fw-medium d-block">{{ user.username }}</span>
                          <!-- <small class="text-muted">{{ group_name|capfirst }}</small> -->
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bx bx-user me-2"></i>
                      <span class="align-middle">Mi Perfil</span>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                      <i class="bx bx-power-off me-2"></i>
                      <span class="align-middle">Cerrar sesión</span>
                    </a>
                  </li>
                </ul>
                {% endif %}
              </li>
              <!--/ User -->
            </ul>
          </div>
        </nav>
        <!-- / Navbar -->
        <!-- Breadcrumb -->
        <div class="breadcrumb-wrapper">
          <nav aria-label="breadcrumb">
            <o class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="tf-icons bx bx-home-circle"></i>
                  Inicio</a></li>
              {% for breadcrumb in breadcrumbs %}
              {% if breadcrumb.1 != '' %}
              <li class="breadcrumb-item"><a href="{{breadcrumb.1}}">{{breadcrumb.0}}</a></li>
              {% else %}
              <li class="breadcrumb-item active">{{breadcrumb.0}}</li>
              {% endif %}
              {% endfor %}
            </o>
          </nav>
        </div>

        <!-- Content wrapper -->
        <div class="content-wrapper" style="padding-top: 25px;">
          <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y">
            {% block content %}
            {% endblock content %}
          </div>
          <!-- / Content -->
          <!-- Footer -->
          <footer class="content-footer footer bg-footer-theme">
            <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
              <div class="mb-2 mb-md-0">
                ©
                <span id="current-year"></span>
                , Implementado por
                <a href="#" class="footer-link fw-medium">Nexus Motos</a>
              </div>
              <!-- <div class="d-none d-lg-inline-block">
                <a href="#" target="_blank" class="footer-link me-4">Documentación</a>
              </div> -->
            </div>
          </footer>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  
  <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
  
  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <!-- Page JS -->

  {% block extra_js %}
  {% endblock extra_js %}

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('current-year').textContent = new Date().getFullYear();
    });
  </script>
  {% block javascript %}
  {% endblock javascript %}
</body>
</html>